.store {
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.cursor {
  cursor: pointer;
}

.cart {
  position:fixed;
  top:10px;
  margin:10%;
  left:15%;
  max-width:672px;
  background:wheat;
  width:60%;
  height:70vh;
  display:flex;
  flex-direction:column;
  border-radius:2rem;
  animation:1s;
}

.closeButton {
  display:flex;
  justify-content:flex-end;
  margin:-35px;
  flex-flow:1;
  cursor:pointer;
  animation:1s;
  color:grey;
}